<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Welcome to
                <b>Tabletop Smash</b>
            </h1>
            <h2 class="subtitle">
                Tools to make your tabletop games easier
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-desktop is-vcentered">
        <div class="column is-full">
            <p class="is-size-2">
                <b>Free... for now and forever</b>
            </p>
            <p class="is-size-4">
                There are a lot of good tools out there but there are always catches. Somewhere along the line there is a monthly subscription.
                Tabletop Smash isn't doing that, all the tools are free and available to you. Always.
            </p>
        </div>
        <!-- <div class="column is-one-thirds is-hidden-mobile">
            <img src="/assets/images/Homepage1.png">
        </div> -->
    </div>
</section>

<section class="section">
    <div class="columns is-desktop is-vcentered">
        <div class="column is-one-thirds is-hidden-mobile">
            <img src="/assets/images/Homepage2.png">
        </div>

        <div class="column is-two-thirds">
            <p class="is-size-2">
                <b>Easily create characters</b>
            </p>
            <p class="is-size-4">
                One of the real pains of tabletop games is creating the characters. Not because it is hard but because there are so many
                little details you have to keep track of. Does a Cleric get a bonus to this, and when does the bard get to
                have an extra turn? (never... the bard never has a extra turn).
            </p>
            <p class="is-size-4">
                So Tabletop Smash does away with all that. It knows the rules so you can focus on just making a kick-ass character.
            </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-desktop is-vcentered">
        <div class="column is-two-thirds">
            <p class="is-size-2">
                <b>Share your creations</b>
            </p>
            <p class="is-size-4">
                Tabletop games are community driven so why not give something back yourself. You have made a kick-ass Elf make it public
                so everyone can see it. Someone else can inspiration from your ideas, and all it takes is the click of a
                button.
            </p>
        </div>
        <div class="column is-one-thirds is-hidden-mobile">
            <img src="/assets/images/Homepage3.png">
        </div>
    </div>
</section>

<section class="section">
    <div class="columns is-desktop is-vcentered">
        <!-- <div class="column is-one-thirds is-hidden-mobile">
            <img src="https://picsum.photos/400/400">
        </div> -->

        <div class="column is-full">
            <p class="is-size-2">
                <b>Much more to come</b>
            </p>
            <p class="is-size-4">
                Got some crazy idea for things I want to try. Party system, online maps, etc. But one thing at a time. I have started with
                Lamentations of the Flame Princess because that is the one that is keeping me busy right now. But I want
                to include others.
            </p>
            <p class="is-size-4">
                Let me know what think <a href="https://twitter.com/TabletopSmash" target="_new">@TabletopSmash</a> on twitter.
            </p>
        </div>
    </div>
</section>