<div class="tabs is-small is-boxed">
    <ul>
      <li [ngClass]="{'is-active': currentTab == 'armour'}">    <a [routerLink]="" (click)="changeTab('armour')"><span class="icon is-small"><i class="fa fa-user" aria-hidden="true"></i></span>Armour</a></li>
      <li [ngClass]="{'is-active': currentTab == 'shield'}">    <a [routerLink]="" (click)="changeTab('shield')"><span class="icon is-small"><i class="fa fa-shield-alt" aria-hidden="true"></i></span>Shields</a></li>      
      <li [ngClass]="{'is-active': currentTab == 'weapons'}">   <a [routerLink]="" (click)="changeTab('weapons')"><span class="icon is-small"><i class="fa fa-gavel" aria-hidden="true"></i></span>Weapons</a></li>
      <li [ngClass]="{'is-active': currentTab == 'animals'}">   <a [routerLink]="" (click)="changeTab('animals')"><span class="icon is-small"><i class="fa fa-crow" aria-hidden="true"></i></span>Animals</a></li>
      <li [ngClass]="{'is-active': currentTab == 'containers'}"><a [routerLink]="" (click)="changeTab('containers')"><span class="icon is-small"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>Containers</a></li>
      <li [ngClass]="{'is-active': currentTab == 'vehicles'}">  <a [routerLink]="" (click)="changeTab('vehicles')"><span class="icon is-small"><i class="fa fa-car" aria-hidden="true"></i></span>Vehicles</a></li>
      <li [ngClass]="{'is-active': currentTab == 'food'}">      <a [routerLink]="" (click)="changeTab('food')"><span class="icon is-small"><i class="fa fa-utensils" aria-hidden="true"></i></span>Food</a></li>
      <li [ngClass]="{'is-active': currentTab == 'misc'}">      <a [routerLink]="" (click)="changeTab('misc')"><span class="icon is-small"><i class="fa fa-box-open" aria-hidden="true"></i></span>Misc</a></li>
    </ul>
  </div>

  <div *ngIf="currentTab == 'armour'">
      <h3>Armour</h3>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <td><b>Item</b></td>
          <td><b>Price</b></td>
          <td><b>Base AC</b></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of armourList">
          <td>{{ item.name }} </td>
          <td>{{ item.cost }} sp</td>
          <td>{{ item.baseAc }} </td>
          <td class="has-text-right">
            <button class="button is-outlined is-info" (click)="addArmour(item)" [disabled]="item.cost > character.silver || this.character.armour">Buy</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentTab == 'shield'">
    <h3>Shields</h3>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <td><b>Item</b></td>
          <td><b>Price</b></td>
          <td><b>Base AC</b></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of shieldList">
          <td>{{ item.name }} </td>
          <td>{{ item.cost }} sp</td>
          <td>{{ item.baseAc }} </td>
          <td class="has-text-right">
            <button class="button is-outlined is-info" (click)="addShield(item)" [disabled]="item.cost > character.silver || this.character.shield">Buy</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currentTab == 'weapons'">
    <h3>Weapons</h3>
    <h4>Melee weapons</h4>
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td><b>Damage</b></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of meleeWeaponsList">
            <td>{{ item.name }} </td>
            <td>{{ item.cost }} sp</td>
            <td>{{ item.attackDiceCount }}d{{ item.attackDiceSize }} </td>
            <td class="has-text-right">
                <span *ngIf="!item.encumbering" class="icon is-small"><i class="fa fa-feather" aria-hidden="true"></i></span>
                <span *ngIf="item.oversized" class="icon is-small is-warning"><i class="fa fa-weight-hanging" aria-hidden="true"></i></span>
            </td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addWeapon(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
    <h4>Ranged weapons</h4>
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td><b>Damage</b></td>
            <td><b>Short</b></td>
            <td><b>Medium</b></td>
            <td><b>Long</b></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rangedWeaponsList">
            <td>{{ item.name }} </td>
            <td>{{ item.cost }} sp</td>
            <td>{{ item.attackDiceCount }}d{{ item.attackDiceSize }}</td>
            <td>{{ item.shortRange }}'</td>
            <td>{{ item.mediumRange }}'</td>
            <td>{{ item.longRange }}'</td>
            <td class="has-text-right">
                <span *ngIf="!item.encumbering" class="icon is-small"><i class="fa fa-feather" aria-hidden="true"></i></span>
                <span *ngIf="item.oversized" class="icon is-small is-warning"><i class="fa fa-weight-hanging" aria-hidden="true"></i></span>
            </td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addRangedWeapon(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h4>Projectiles</h4>
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projectileList">
            <td>{{ item.name }} </td>
            <td>{{ item.cost }} sp</td>
            <td class="has-text-right">
              <span *ngIf="!item.encumbering" class="icon is-small"><i class="fa fa-feather" aria-hidden="true"></i></span>
              <span *ngIf="item.oversized" class="icon is-small is-warning"><i class="fa fa-weight-hanging" aria-hidden="true"></i></span>
            </td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addEquipment(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div *ngIf="currentTab == 'animals'">
    <h3>Animals</h3>
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of animalsList">
            <td>{{ item.name }} </td>
            <td>{{ item.cost }} sp</td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addEquipment(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div *ngIf="currentTab == 'containers'">
    <h3>Containers</h3>
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of containersList">
            <td>{{ item.name }} </td>
            <td>{{ item.cost }} sp</td>
            <td class="has-text-right">
                <span *ngIf="!item.encumbering" class="icon is-small"><i class="fa fa-feather" aria-hidden="true"></i></span>
                <span *ngIf="item.oversized" class="icon is-small is-warning"><i class="fa fa-weight-hanging" aria-hidden="true"></i></span>
            </td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addEquipment(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div *ngIf="currentTab == 'vehicles'">
      <h3>Vehicles</h3>
      <table class="table is-fullwidth is-hoverable">
          <thead>
            <tr>
              <td><b>Item</b></td>
              <td><b>Price</b></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of vehiclesList">
              <td>{{ item.name }} </td>
              <td>{{ item.cost }} sp</td>
              <td class="has-text-right">
                <button class="button is-outlined is-info" (click)="addEquipment(item)" [disabled]="item.cost > character.silver">Buy</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

  <div *ngIf="currentTab == 'food'">
    <h3>Food</h3>
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of foodList">
            <td>{{ item.name }} </td>
            <td>{{ item.cost }} sp</td>
            <td class="has-text-right">
                <span *ngIf="!item.encumbering" class="icon is-small"><i class="fa fa-feather" aria-hidden="true"></i></span>
                <span *ngIf="item.oversized" class="icon is-small is-warning"><i class="fa fa-weight-hanging" aria-hidden="true"></i></span>
            </td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addEquipment(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>

  <div *ngIf="currentTab == 'misc'">
    <h3>Misc</h3>
    <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <td><b>Item</b></td>
            <td><b>Price</b></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of miscList">            
            <td>{{ item.name }} </td>
            <td>
              {{ item.cost }} sp 
            </td>
            <td class="has-text-right">
                <span *ngIf="!item.encumbering" class="icon is-small"><i class="fa fa-feather" aria-hidden="true"></i></span>
                <span *ngIf="item.oversized" class="icon is-small is-warning"><i class="fa fa-weight-hanging" aria-hidden="true"></i></span>
            </td>
            <td class="has-text-right">
              <button class="button is-outlined is-info" (click)="addEquipment(item)" [disabled]="item.cost > character.silver">Buy</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
      