<div class="modal" [ngClass]="{'is-active': showModal}" >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ title }}</p>
      <button class="delete" aria-label="close" (click)="onDismiss()"></button>
    </header>
    <section class="modal-card-body">
      <ng-content></ng-content>
    </section>
    <footer *ngIf="showFooter" class="modal-card-foot">
      <button class="button is-success" [ngClass]="{'is-loading': isLoading}" (click)="onSave()">{{ saveButtonText }}</button>
      <button class="button" [disabled]="isLoading" (click)="onDismiss()">{{ cancelButtonText }}</button>
    </footer>
  </div>
</div>